{% extends 'main.html' %}
{% block content%}
<section class="main">
    <div class="main-top">
        <h1>{{title}}</h1>
        <div class="user-option">
            <i class="fas fa-circle-user"></i>
            <span>{{user.name}}</span>
        </div>
    </div>
            <div class="main-section">

                <div id="addButton">
                    <button class="add" onclick="openform()">
                      <i class="fas fa-add"></i>
                      <span>Add user</span>
                    </button>
                </div>
                

                <div class="header_fixed", id="table">
                    <table>
                        <thead>
                            <tr>
                                <th>User id</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Gender</th>
                                <th>Service Type</th>
                                <th>Price</th>
                                <th>Booking Count</th>
                                <th>Success</th>
                                <th>Active Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for sp in spData  %}
                            <tr>
                                <td>{{spData.service_provider.id}}</td>
                                <td>{{spData.service_provider.name}}</td>
                                <td>{{spData.service_provider.email}}</td>
                                <td>{{spData.service_provider.phone}}</td>
                                <td>{{spData.service_provider.gender}}</td>
                                <td>{{spData.service}}</td>
                                <td>{{spData.price}}</td>
                                <td>{{spData.booking_count}}</td>
                                <td>{{spData.success}}</td>
                                <td>{{spData.active_status}}</td>
                                <td><button> Delete</button></td>
                            </tr>
                            {% endfor %}
                            
                        </tbody>
                    </table>
                </div>

                            <div id="add-form">
  <form method="POST">
    {% csrf_token %}
    
    <div class="add-field">
        <label for="name">Name</label>
        <div class="field">
            {{form.name}}
        </div>  
      </div>
      
      <div class="add-field">
        <label for="email">Email</label>
        <div class="field">
            {{form.email}}
        </div>
      </div>
      <div class="add-field">
        <label for="phone">Phone number</label>
        <div class="field">
            {{form.phone}}
        </div>
      </div>


      <div class="add-field">
        <label for="gender">Gender</label>
        {{form.gender}}
      </div>

      <div class="add-field">
        <label for="Service type">Service type</label>
        {{sp_form.service}}
      </div>

      <div class="add-field">
        <label for="Price">Price</label>
        <div class="field">
            {{sp_form.price}}
            </div>
      </div>

      {% comment %} <div class="add-field">
        <label for="password">Password</label>
        <div class="field">
        {{form.password}}
           
        </div>
      </div> {% endcomment %}
      <div class="add-field">
        <label for="price">Password</label>
        <div class="field">
            <input type="password" name="password" required />
        </div>
      </div>
      <div class="add-field">
        <label for="price">Confirm password</label>
        <div class="field">
            <input type="password" name="confirm_password" required />
        </div>
      </div>


      <div class="button">
        <input type="submit" value="Add" class="add" />
        <input type="submit" value="Cancel" class="cancel" onclick="closeform()"/>
      </div>
  </form>

                                
                                  
                              </div>
                            </section>
                        </section>
{% endblock content%}
  

